html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
header {
  height: 60px;
  background-color: #171717;
}

.menu {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}
.menuHeadings {
  display: inline-block;
}
a {
  padding: 20px 0px 20px 0px;
  width: 100px;
  display: inline-block;
  text-decoration: none;
  font-family: "Bebas Neue";
  font-size: large;
  letter-spacing: 2px;
  color: #fffff4;
}
a.topLink:hover {
  color: #ffcad4;
  text-decoration: underline;
}
#section1 {
  width: 100%;
  padding: 15% 0;
  text-align: center;
  background: url(https://s3.eu-west-2.amazonaws.com/www.lukeflannery.com/steve-harvey-U4wcrDteZ2Y-unsplash.jpg)
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#section2 {
  height: 100%;
  background: #111111;
  display: inline-block;
  width: 100%;
}
.sec2 {
  height: 800px;
  background: transparent;
  display: grid;
  width: 100%;
  grid-template-columns: auto;
  grid-template-rows: 70% 30%;
}
#section3a {
  height: 100%;
  background: #232323;
  display: inline-block;
  width: 100%;
}
.sec3a {
  height: 800px;
  background: transparent;
  display: grid;
  width: 100%;
  grid-template-columns: 33% 34% 33%;
  grid-template-rows: 75% 25%;
}
#section3 {
  height: 100%;
  background: #343434;
  display: inline-block;
  width: 100%;
}
.sec3 {
  height: 800px;
  background: transparent;
  display: grid;
  width: 100%;
  grid-template-columns: 50% 50%;
  grid-template-rows: 75% 25%;
}
img {
  width: 180px;
  height: 180px;
}
.nc {
  width: 250px;
  height: 100px;
}

#section4 {
  height: 100%;
  background: #464646;
  display: inline-block;
  width: 100%;
}
.sec4 {
  height: 800px;
  background: transparent;
  display: grid;
  width: 100%;
  grid-template-columns: 55% 45%;
  grid-template-rows: 50% 50%;
}
h1 {
  margin-top: 100px;
  margin-bottom: 10px;
  margin-right: 100px;
  margin-left: 100px;
  text-align: center;
  padding: 0;
  font-family: "Bebas Neue";
  color: #fffff4;
  letter-spacing: 2px;
  font-size: 90px;
}
h2 {
  margin: 40px 20px;
  text-align: center;
  padding: 0;
  font-family: "Bebas Neue";
  color: #fffff4;
  letter-spacing: 2px;
  font-size: 30px;
}
.paragraph {
  margin: 10px 10% 10px 10%;
  text-align: justify;
  padding: 0;
  font-family: "Poppins";
  color: #fffff4;
  letter-spacing: 1px;
  font-size: 20px;
}
.emph {
  margin: 20px 10% 10px 10%;
  font-family: "Bebas Neue";
  color: #ffcad4;
  letter-spacing: 3px;
  font-size: 26px;
}

/*  */

.inputGroup {
  position: relative;
  margin-bottom: 25px;
}

input {
  font-size: 13px;
  height: 25px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 250px;
  border: none;
  outline: none;
  border-bottom: 1px solid #fffff4;
  color: #fffff4;
  background: transparent;
  transition: 0.2s ease;
  margin: 0;
}

input:focus {
  outline: none;
  opacity: 1;
}

label {
  color: #fffff4;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 15px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

input:focus ~ label,
input:valid ~ label {
  top: -10px;
  font-size: 12px;
  color: #ffcad4;
}

@-webkit-keyframes inputHighlighter {
  from {
    background: #fffff4;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@-moz-keyframes inputHighlighter {
  from {
    background: #fffff4;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@keyframes inputHighlighter {
  from {
    background: #fffff4;
  }
  to {
    width: 0;
    background: transparent;
  }
}
b {
  color: #ffcad4;
}

button.send-btn {
  border: none;
  background: transparent;
  font-family: "Bebas Neue";
  color: #fffff4;
  transition: 0.2s ease;
  font-size: large;
}

button.send-btn:hover {
  color: #ffcad4;
  cursor: pointer;
}
.formArea {
  margin: auto;
  min-width: 0;
  min-height: 0;
}
/*  */
.example {
  margin: auto;
}
.contactInfo {
  list-style: none;
  font-family: "Poppins";
  color: #fffff4;
  margin: auto;
  padding: 0;
}
.con {
  list-style: none;
  padding-bottom: 35px;
  font-size: larger;
}
.cabbed {
  padding-top: 5%;
}
.cabbed img {
  margin: 0px 15px 0px 15px;
  float: left;
}
.cabbed p {
  margin: 15px;
  padding: 0px 10px 0px 10px;
  display: block;
  text-align: justify;
  font-family: "Poppins";
  color: #fffff4;
}
.ncNews {
  padding-top: 5%;
}
.ncNews img {
  margin: 0px 15px 0px 15px;
  float: left;
}
.ncNews p {
  margin: 15px;
  padding: 0px 10px 0px 10px;
  display: block;
  text-align: justify;
  font-family: "Poppins";
  color: #fffff4;
}

footer {
  padding: 20px;
  height: 80px;
  background-color: #171717;
}
i {
  color: #fffff4;
}
i:hover {
  color: #ffcad4;
}
.fab fa-aws {
  text-align: center;
}
@media only screen and (max-width: 620px) {
  header {
    height: 120px;
  }
}
@media only screen and (max-width: 750px) {
  .paragraph {
    font-size: 18px;
  }
  h1 {
    font-size: 60px;
    margin: auto;
  }
  .emph {
    font-size: 20px;
    margin-top: 10%;
  }
  .sec3a {
    height: 1500px;
    display: grid;
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 30% 30% 30% 10%;
  }
  .sec3 {
    height: 1500px;
    display: grid;
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 45% 45% 10%;
  }
  .sec4 {
    height: 1000px;
    display: grid;
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 45% 45% 10%;
  }
  .con {
    font-size: medium;
  }
  h1 {
    margin-top: 60px;
  }
  img {
    width: 100px;
    height: 100px;
  }
  .nc {
    width: 175px;
    height: 70px;
  }
}
