html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  /* font fami */
}
nav {
  width: 100%;
  background: #171717;
  overflow: hidden;
  position: fixed;
  top: 0;
}
ul {
  margin: 0;
  list-style: none;
  text-align: center;
}
li {
  display: inline-block;
  /* float: none; */
}
a {
  padding: 20px;
  width: 100px;
  display: inline-block;
  text-decoration: none;
  font-family: "Bebas Neue";
  font-size: large;
  letter-spacing: 2px;
  color: #fffff4;
}
a.topLink:hover {
  color: pink;
  text-decoration: underline;
}
#section1 {
  width: 100%;
  padding: 15% 0;
  text-align: center;
  background: url(img/steve-harvey-U4wcrDteZ2Y-unsplash.jpg) no-repeat center
    center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#section2 {
  height: 700px;
  background: #1d2123;
  display: inline-block;
  width: 100%;
}
#section3 {
  height: 700px;
  background: #252728;
  display: inline-block;
  width: 100%;
}
#section4 {
  height: 700px;
  background: #2a2c2d;
  display: inline-block;
  width: 100%;
}
h1 {
  margin-top: 100px;
  margin-bottom: 10px;
  margin-right: 100px;
  margin-left: 100px;
  text-align: center;
  padding: 0;
  font-family: "Bebas Neue";
  color: #fffff4;
  letter-spacing: 2px;
  font-size: 90px;
}
h2 {
  margin: 50px;
  text-align: center;
  padding: 0;
  font-family: "Bebas Neue";
  color: #fffff4;
  letter-spacing: 2px;
  font-size: 30px;
}
.paragraph {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 15%;
  margin-left: 15%;
  text-align: justify;
  padding: 0;
  font-family: "Poppins";
  color: #fffff4;
  letter-spacing: 2px;
  font-size: 20px;
}
footer {
  padding: 20px;
  height: 80px;
  background-color: #171717;
}
i {
  color: #fffff4;
}
i:hover {
  color: pink;
}
